// Couleurs lines bus
$clr-line-1: #ffe901;
$clr-line-2: #00aaeb;
$clr-line-3: #ef3d24;
$clr-line-4: #664d98;
$clr-line-5: #00a555;
$clr-line-6: #f47a21;
$clr-line-arc-express: #005590;
$clr-line-hm-navette: #a68253;    

// Couleurs hover lines bus
$clr-2-line-1: #fff481;
$clr-2-line-2: #57c2ec;
$clr-2-line-3: #db695a;
$clr-2-line-4: #8d73c0;
$clr-2-line-5: #58b487;
$clr-2-line-6: #cc936a;
$clr-2-line-arc-express: #2570a5;
$clr-2-line-hm-navette: #bea077; 

// Pallette de couleurs
$backgroud-clr: #2c2c2c;