*{
    margin: 0;
    padding: 0;
}

body{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome{
    padding: 10px;
    margin: 10px;
    color: #1F3B56;
    font-size: 145%;
    font-weight: bold;
}

.geolocation{
    background-color: #848FA5;
    padding: 10px;
    margin: 10px;
    color: white;
    width: fit-content;
}

.top{
    font-size: 140%;
    display: flex;
    justify-content: center;
}

.bottom{
    font-size: 120%;
    display: flex;
    justify-content: center;
}

.accept{
    background-color: #1F3B56;
    padding: 10px;
    margin: 10px;
    width: auto;
}

.deny{
    background-color: #1F3B56;
    padding: 10px;
    margin: 10px;
}

.accept:hover{
    cursor: pointer;
    background-color: #1f2e56;
}
.deny:hover{
    cursor: pointer;
    background-color: #1f2e56;
}

